<h1>Simple Food Coop</h1>

{% if user.is_authenticated %}
    <h3>Currently logged in as {{ user.username }}</h3>
    <p><a href="{% url 'logout' %}">Log out</a></p>
{% else %}
    <p><a href="{% url 'signup' %}">Sign Up</a></p>
    <p><a href="{% url 'login' %}">Log In </a></p>
{% endif %}

{% if products_list %}
    {% if order_list %}
        <h3>Here is your current Order!</h3>
        <ul>
        {% for product in order_list %}
            <li>
                <a href="/products/{{ product.id }}">{{ product.name }}</a>
                <button>Remove from Order</button>
            </li>
        {% endfor %}
        </ul>
    {% else %}
        {% if user.is_authenticated %}
            <h3>Nothing in your cart!! Try adding something.</h3>
        {% else %}
            <p>^^^ login/signup befoe you can do anything yo ^^^</p>
        {% endif %}
    {% endif %}
    <h3>Products</h3>
    <ul>
    {% for product in products_list %}
        <li>
            <a href="/products/{{ product.id }}/">{{ product.name }}</a>
            <button>Add to Cart</button>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No products avaialable.</p>
{% endif %}