<h1>Simple Food Coop</h1>

{% if user.is_authenticated %}
<h3>Currently logged in as {{ user.username }}</h3>
<p><a href="{% url 'logout' %}">Log out</a></p>
{% else %}
<p><a href="{% url 'signup' %}">Sign Up</a></p>
<p><a href="{% url 'login' %}">Log In </a></p>
{% endif %}

{% if products_list %}
    <ul>
    {% for product in products_list %}
        <li><a href="/products/{{ product.id }}/">{{ product.name }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No products avaialable.</p>
{% endif %}